@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling globally */
}

/* Custom Scrollbar for Shortcuts area */
.minimal-scroll::-webkit-scrollbar {
  width: 4px;
}
.minimal-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.minimal-scroll::-webkit-scrollbar-thumb {
  background: #3f3f46;
}
.minimal-scroll::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
